.card {
    width: 15rem;
    height: 24rem;
}

.image_container {
    width: 100%;
    height: 10rem;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.card-body {
    border-top: 5px solid skyblue;
}
